@import url("https://fonts.googleapis.com/css?family=News+Cycle:400,700");



body {
  padding: 2rem 0rem;
  background-size: cover;
  background-image: url(./pics/modal_back.png);
}

.title {
  width: 70%;
  margin-left: 15%;
  padding: 0.5rem 1.5rem;
    border: 0.125rem solid #EB6864;
    color: #222;
    background-color: white;
    z-index: 3;
    position: relative;
}

.h4 {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700 !important;
  margin-bottom: 0 !important;
  text-align: center;
}

.hr {
  width: 100%;
  height: 0.125rem;
  background: #EB6864;
  margin-top: -39px;
  z-index: 1;
  position: relative;
}

.inst_title {
  font-weight: bolder;
  text-align: center;
}

.links {
  margin-top: 1rem;
  display: inline-block;
  margin-left: calc(50% - 273px/2);
}

.link a{
  color: #EB6864;
  text-decoration: none;
}

.link a:hover {
  color: #EB6864;
  text-decoration: underline;
}

.instr {
  padding: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: #fff;
}

.fullname {
  color: #777 !important;
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem;

}

.descript {
  font-style: italic;
  font-size: 1rem;
  color: #777;
}

.card {
  min-height: 330px;
  transition: transform .3s;
  position: relative;
  z-index: 1;
}

.card:hover{
  transform: scale(1.05);
  cursor: pointer;
  z-index: 3;
  /* border-color: #EB6864; */
  box-shadow: 0 0 0 0.2rem rgba(233, 16, 16, 0.5);
}

.tableCard {
  padding: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: #fff;
  margin-top: 2rem;
}

.colR {
  border: 1px solid#dee2e6;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.colR2 {
  border: 1px solid#dee2e6;
  text-align: center;
  vertical-align: middle;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #f5f3f3;
}

.colR2:hover {
  background-color: #ebe9e9;
}

.divCol{
  padding: 20px;
  background-color: white;
  margin-top: 2rem;
}

.colLink {
  color: #e22620 !important;
  font-weight: 700 !important;
  border-color: #e22620 !important ;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-size: 1rem;
}

.colLink:hover {
  background-color: #e22620 !important;
  color: white !important;
}

.colbut {
  background-color: #ec4f49 !important;
  font-weight: 700 !important;
  border-color: #e22620 !important ;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-size: 1rem;
}

.colbut:hover {
  background-color: #e22620 !important;
  color: white !important;
}

.form-check-input:checked {
  background-color: #e22620 !important;
  border-color: #e22620 !important;
  box-shadow: 0 0 0 0.2rem rgba(241, 48, 48, 0.25) !important;
}

.form-check-input:focus:not(:checked) {
  box-shadow: 0 0 0 0.2rem rgba(241, 48, 48, 0.25) !important;
  border-color: #e22620 !important;
}

.auth {
  justify-content: center;
  align-items: center;
  width: 25rem;
  min-height: 10rem;
  padding: 2rem;
  box-shadow: 0px 0px 18px #EB6864;
  border-radius: 20px;
}

.auth_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.auth input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  border: 2px solid #e7908d;
  margin-top: 2rem;
}

.close_img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
